[Unit]
Description=Next.js Ollama LLM UI Service
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/m-nextjs-ollama-llm-ui
ExecStart=/usr/bin/npm run dev
Environment="NODE_ENV=production" "OLLAMA_URL=http://3.132.84.78:11434"
User=ubuntu
Group=ubuntu
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nextjs-ollama-llm-ui

[Install]
WantedBy=multi-user.target